doctype html
html(lang='ja')
  head
    title= sample
    link(href="animatecc/animatecc.css", rel="stylesheet")
    script(src="//code.jquery.com/jquery-latest.min.js")
    script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
    script(src='animatecc/sample.js?v=0.0.0')
    script(src='animatecc/animatecc.js?v=0.0.0')
  body(onload='init();' style='margin:0px;')
    #main
      <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:1024px; height:768px">
      <canvas id="canvas" width="1024" height="768" style="position: absolute; display: none; background-color:rgba(255, 255, 255, 1.00);"></canvas>
      <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:1024px; height:768px; position: absolute; left: 0px; top: 0px; display: none;">
      </div>
      </div>
      <div id='_preload_div_' style='display: inline-block; height:768px; width: 1024px; vertical-align=middle;position:absolute;left:0px;top:0px;text-align: center;'>
      <span style='display: inline-block; height: 100%; vertical-align: middle;'></span>
      <img src=animate/images/_preloader.gif?1481015235554 style='vertical-align: middle; max-height: 100%'/>
      </div>
