header{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}
ul{
  clear: both;
  list-style: none;
}
li{
  float: left;
  width: 120px;
  height: 30px;
  display: block;
  background: {
    color: rgba(255, 255, 255, 0.75);
  }
  text-align: center;
  font-size: 18px;
  a{
    font-family: 'arial narrow';
    text-shadow: -1px -1px 0px #ccc;
  }
  a:link,
  a:visited{
    color: #000;
    text-decoration: underline;
  }
  a:hover{
    color: #00F;
    text-decoration: none;
  }
  a:active{
    text-decoration: underline;
  }
}
